# Set the default behavior, in case people don't have core.autocrlf set.
* text eol=lf
*.png -text
*.bmp -text
*.gif -text
*.pdf -text
*.odg -text
*.wav -text
*.wave -text
*.WAV -text
*.mp4 -text
*.zip -text
*.ttf -text