/* Epydoc CSS Stylesheet
 *
 * This stylesheet can be used to customize the appearance of epydoc's
 * HTML output.
 *
 */
html {
    background-color:white;
    }

body 
{ 
    font-size: 100%/150%;
    font-family: "Lucida Grande", "Lucida Sans Unicode", Lucida, Verdana, Geneva, Arial, Helvetica, sans-serif;
    margin: auto;
    padding-right: 1em;
    padding-left: 1em;
    max-width: 44em; 
    border-left: 1px solid black;
    border-right: 1px solid black;
    line-height: 120%;
    color:#303030;
    background-color: #f8f8f2;
}

h1
{ 	
    font-size: 130%;
	margin-top:     1em;
	margin-bottom:  1em;
	margin-right:   auto;
	padding-top:    20px;
	padding-right:  15px;
	padding-bottom: 20px;
	padding-left:   15px;
    text-align: left;
    background-color:#ffffff;
    border-bottom: 2px dotted black;
    border-left: 2px dotted black;
    border-right: 2px dotted black;
    border-top: 2px dotted black;
    border-color:#b31414;
}
h2 {
    font-size: 110%;
	margin-top:     1em;
	margin-bottom:  1em;
	margin-right:   auto;
	padding-top:    15px;
	padding-right:  15px;
	padding-bottom: 15px;
	padding-left:   15px;
    text-align: left;
    background-color:#ffffff;
    border-bottom: 2px dotted black;
    border-color:#1414b3;
    }

h3 {
    font-size: 95%;
	margin-top:     1em;
	margin-bottom:  1em;
	margin-right:   auto;
	padding-top:    5px;
	padding-right:  15px;
	padding-bottom: 5px;
	padding-left:   15px;
    text-align: left;
    background-color:#ffffff;
    border-bottom: 2px dotted black;
    border-color:#2c9145;
}

h4 {
        font-size: 90%;
        /*font-style: italic;*/
}

h5 {
        font-size: 90%;
        font-style: italic;
}

p {
    text-align:justify;
    text-justify:inter-word;
    margin-top: 0.5em; 
    margin-bottom: 0.5em;
}

dt { 
    font-weight: bold; 
}

code
{ 
    font-size: 100%;  
    background: rgb(236,236,236);
}

a
{
    color:#160ab9;
    text-decoration:none;
    -webkit-transition-property:color;
    -moz-transition-property:color;
    -ms-transition-property:color;
    -o-transition-property:color;
    transition-property:color;
    -webkit-transition-duration:0.3s;
    -moz-transition-duration:0.3s;
    -ms-transition-duration:0.3s;
    -o-transition-duration:0.3s;
    transition-duration:0.3s
}

a:hover
{
color:#04b1d8
}

a.link 
{ 
    font-family: monospace; 
}
 
/* Page Header & Footer
 *   - The standard page header consists of a navigation bar (with
 *     pointers to standard pages such as 'home' and 'trees'); a
 *     breadcrumbs list, which can be used to navigate to containing
 *     classes or modules; options links, to show/hide private
 *     variables and to show/hide frames; and a page title (using
 *     <h1>).  The page title may be followed by a link to the
 *     corresponding source code (using 'span.codelink').
 *   - The footer consists of a navigation bar, a timestamp, and a
 *     pointer to epydoc's homepage.
 */ 
h1.epydoc { margin: 0; font-size: +130%; font-weight: bold; }
h2.epydoc { font-size: +130%; font-weight: bold;  }
h3.epydoc { font-size: +115%; font-weight: bold; margin-top: 0.2em; }

td h3.epydoc { font-size: +115%; font-weight: bold; margin-bottom: 0; }
table.navbar {
	background: rgb(120,60,60);
    display: block;
    width: auto;
    text-decoration: none;
    font: bold 1em/1em Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    text-shadow: 1px 1px 1px #555;
    padding: 10px 25px 10px 25px;
    margin-top: 10px;
    margin-bottom: 10px;
}

table.navbar table          { color: #ffffff; }
th.navbar-select            { background: rgb(120,60,60);
                              color: rgb(255,215,40); } 
table.navbar a              { text-decoration: none; }  
table.navbar a:link         { color: #ffffff; }
table.navbar a:visited      { color: #ffffff; }
table.navbar a:hover        { color: rgb(240,240,150); }
span.breadcrumbs            { font-size: 85%; font-weight: bold; }
span.options                { font-size: 70%; }
span.codelink               { font-size: 85%; }
td.footer                   { font-size: 85%; }

/* Table Headers
 *   - Each summary table and details section begins with a 'header'
 *     row.  This row contains a section title (marked by
 *     'span.table-header') as well as a show/hide private link
 *     (marked by 'span.options', defined above).
 *   - Summary tables that contain user-defined groups mark those
 *     groups using 'group header' rows.
 */
td.table-header {12px solid rgb(190,150,150); color: rgb(120,60,60); background:rgb(190,150,150); border: 1px solid #000000; }
td.table-header table       { color: black; }
td.table-header table a:link      { color: color: #0000ff; }
td.table-header table a:visited   { color:#204080; }
span.table-header { font-size: 120%; font-weight: bold; }
th.group-header   { background: #90f1c4; color: #000000;
                    text-align: left; font-style: italic; 
                    font-size: 115%; 
                    border: 1px solid #000000; }

/* Summary Tables (functions, variables, etc)
 *   - Each object is described by a single row of the table with
 *     two cells.  The left cell gives the object's type, and is
 *     marked with 'code.summary-type'.  The right cell gives the
 *     object's name and a summary description.
 *   - CSS styles for the table's header and group headers are
 *     defined above, under 'Table Headers'
 */
table.summary               { border-collapse: collapse;
                              background: #f8f8f2; color: #000000;
                              border: 1px solid #000000;
                              margin-bottom: 0.5em; }
td.summary                  { border: 1px solid #000000;  }
code.summary-type           { font-size: 85%; }
table.summary a:link        { color: #0000ff; }
table.summary a:visited     { color: #204080 }


/* Details Tables (functions, variables, etc)
 *   - Each object is described in its own div.
 *   - A single-row summary table w/ table-header is used as
 *     a header for each details section (CSS style for table-header
 *     is defined above, under 'Table Headers').
 */
table.details               { border-collapse: collapse;
                              background: #ffffff; color: #000000;
                              border: 1px solid #000000;
                              margin: .2em 0 0 0; }
table.details table         { color: #000000; }
table.details a:link        { color: #0000ff; }
table.details a:visited     { color: #204080 ; }  /*source code*/

/* Fields */
dl.fields                   { margin-left: 2em; margin-top: 1em;
                              margin-bottom: 1em; }
dl.fields dd ul             { margin-left: 0em; padding-left: 0em; }
dl.fields dd ul li ul       { margin-left: 2em; padding-left: 0em; }
div.fields                  { margin-left: 2em; }
div.fields p                { margin-bottom: 0.5em; }

/* Index tables (identifier index, term index, etc)
 *   - link-index is used for indices containing lists of links
 *     (namely, the identifier index & term index).
 *   - index-where is used in link indices for the text indicating
 *     the container/source for each link.
 *   - metadata-index is used for indices containing metadata
 *     extracted from fields (namely, the bug index & todo index).
 */
table.link-index            { border-collapse: collapse;
                              background: #ffffff; color: #000000;
                              border: 1px solid #000000; }
td.link-index               { border-width: 0px; }
table.link-index a:link     { color: rgb(240,249,110); }
table.link-index a:visited  { color: #044010; }
span.index-where            { font-size: 70%; }
table.metadata-index        { border-collapse: collapse;
                              background: #ffffff; color: #000000;
                              border: 1px solid #000000; 
                              margin: .2em 0 0 0; }
td.metadata-index           { border-width: 1px; border-style: solid; }
table.metadata-index a:link { color: #00ff00; }
table.metadata-index a:visited  { color: #044010; }

/* Function signatures
 *   - sig* is used for the signature in the details section.
 *   - .summary-sig* is used for the signature in the summary 
 *     table, and when listing property accessor functions.
 * */
.sig-name                   { color: #004024; }
.sig-arg                    { color: #002440; }
.sig-default                { color: #240004; }
.summary-sig                { font-family: monospace; }
.summary-sig-name           { color: #004024; font-weight: bold; }
table.summary a.summary-sig-name:link
                            { color: #004024; font-weight: bold; }
table.summary a.summary-sig-name:visited
                            { color: #004024; font-weight: bold; }
.summary-sig-arg            { color: #001024; }
.summary-sig-default        { color: #190002; }

/* Subclass list
 */
ul.subclass-list { display: inline; }
ul.subclass-list li { display: inline; }

/* To render variables, classes etc. like functions */
table.summary .summary-name { color: #004024; font-weight: bold;
                              font-family: monospace; }
table.summary
     a.summary-name:link    { color: #004024; font-weight: bold;
                              font-family: monospace; }
table.summary
    a.summary-name:visited  { color: #004024; font-weight: bold;
                              font-family: monospace; }

/* Variable values
 *   - In the 'variable details' sections, each varaible's value is
 *     listed in a 'pre.variable' box.  The width of this box is
 *     restricted to 80 chars; if the value's repr is longer than
 *     this it will be wrapped, using a backslash marked with
 *     class 'variable-linewrap'.  If the value's repr is longer
 *     than 3 lines, the rest will be ellided; and an ellipsis
 *     marker ('...' marked with 'variable-ellipsis') will be used.
 *   - If the value is a string, its quote marks will be marked
 *     with 'variable-quote'.
 *   - If the variable is a regexp, it is syntax-highlighted using
 *     the re* CSS classes.
 */
pre.variable                { padding: .5em; margin: 0;
                              background: #90f1c4; color: #000000;
                              border: 1px solid #315148; }
.variable-linewrap          { color: #240010; font-weight: bold; }
.variable-ellipsis          { color: #240010; font-weight: bold; }
.variable-quote             { color: #240010; font-weight: bold; }
.variable-group             { color: #000040; font-weight: bold; }
.variable-op                { color: #240010; font-weight: bold; }
.variable-string            { color: #000924; }
.variable-unknown           { color: #640000; font-weight: bold; }
.re                         { color: #000000; }
.re-char                    { color: #000924; }
.re-op                      { color: #240000; }
.re-group                   { color: #002409; }
.re-ref                     { color: #101010; }

/* Base tree
 *   - Used by class pages to display the base class hierarchy.
 */
pre.base-tree               { font-size: 80%; margin: 0; }

/* Frames-based table of contents headers
 *   - Consists of two frames: one for selecting modules; and
 *     the other listing the contents of the selected module.
 *   - h1.toc is used for each frame's heading
 *   - h2.toc is used for subheadings within each frame.
 */
h1.toc                      { text-align: center; font-size: 105%;
                              margin: 0; font-weight: bold;
                              padding: 0; }
h2.toc                      { font-size: 100%; font-weight: bold; 
                              margin: 0.5em 0 0 -0.3em; }

/* Syntax Highlighting for Source Code
 *   - doctest examples are displayed in a 'pre.py-doctest' block.
 *     If the example is in a details table entry, then it will use
 *     the colors specified by the 'table pre.py-doctest' line.
 *   - Source code listings are displayed in a 'pre.py-src' block.
 *     Each line is marked with 'span.py-line' (used to draw a line
 *     down the left margin, separating the code from the line
 *     numbers).  Line numbers are displayed with 'span.py-lineno'.
 *     The expand/collapse block toggle button is displayed with
 *     'a.py-toggle' (Note: the CSS style for 'a.py-toggle' should not
 *     modify the font size of the text.)
 *   - If a source code page is opened with an anchor, then the
 *     corresponding code block will be highlighted.  The code
 *     block's header is highlighted with 'py-highlight-hdr'; and
 *     the code block's body is highlighted with 'py-highlight'.
 *   - The remaining py-* classes are used to perform syntax
 *     highlighting (py-string for string literals, py-name for names,
 *     etc.)
 */
pre.py-doctest              { padding: .5em; margin: 1em;
                              background: #90f1c4; color: #000000;
                              border: 1px solid #315148; }
table pre.py-doctest        { background: #90f1c4;
                              color: #000000; }
pre.py-src                  { border: 2px solid #000000; 
                              background: rgb(236,236,236); color: #000000; }
.py-line                    { border-left: 2px solid #000000; 
                              margin-left: .2em; padding-left: .4em; }
.py-lineno                  { font-style: italic; font-size: 90%;
                              padding-left: .5em; }
a.py-toggle                 { text-decoration: none; }
div.py-highlight-hdr        { border-top: 2px solid #000000;
                              border-bottom: 2px solid #000000;
                              background: rgb(180,229,252); }
div.py-highlight            { border-bottom: 2px solid #000000;
                              background:  rgb(154,210,252); }
.py-prompt                  { color: #001919; font-weight: bold;}
.py-more                    { color: #001919; font-weight: bold;}
.py-string                  { color: #000924; }
.py-comment                 { color: #002409; }
.py-keyword                 { color: #240000; }
.py-output                  { color: #101010; }
.py-name                    { color: #001900; }
.py-name:link               { color: #001900 !important; }
.py-name:visited            { color: #001900 !important; }
.py-number                  { color: #000019; }
.py-defname                 { color: #002400; font-weight: bold; }
.py-def-name                { color: #002400; font-weight: bold; }
.py-base-class              { color: #002400; }
.py-param                   { color: #002400; }
.py-docstring               { color: #000924; }
.py-decorator               { color: #400410; }
/* Use this if you don't want links to names underlined: */
/*a.py-name                   { text-decoration: none; }*/

/* Graphs & Diagrams
 *   - These CSS styles are used for graphs & diagrams generated using
 *     Graphviz dot.  'img.graph-without-title' is used for bare
 *     diagrams (to remove the border created by making the image
 *     clickable).
 */
img.graph-without-title     { border: none; }
img.graph-with-title        { border: 1px solid #000000; }
span.graph-title            { font-weight: bold; }
span.graph-caption          { }

/* General-purpose classes
 *   - 'p.indent-wrapped-lines' defines a paragraph whose first line
 *     is not indented, but whose subsequent lines are.
 *   - The 'nomargin-top' class is used to remove the top margin (e.g.
 *     from lists).  The 'nomargin' class is used to remove both the
 *     top and bottom margin (but not the left or right margin --
 *     for lists, that would cause the bullets to disappear.)
 */
p.indent-wrapped-lines      { padding: 0 0 0 7em; text-indent: -7em; 
                              margin: 0; }
.nomargin-top               { margin-top: 0; }
.nomargin                   { margin-top: 0; margin-bottom: 0; }

/* HTML Log */
div.log-block               { padding: 0; margin: .5em 0 .5em 0;
                              background: #d3f1e1; color: #000000;
                              border: 1px solid #000000; }
div.log-error               { padding: .1em .3em .1em .3em; margin: 4px;
                              background: #ff7979; color: #000000;
                              border: 1px solid #000000; }
div.log-warning             { padding: .1em .3em .1em .3em; margin: 4px;
                              background: #ff79ff; color: #000000;
                              border: 1px solid #000000; }
div.log-info               { padding: .1em .3em .1em .3em; margin: 4px;
                              background: #7979ff; color: #000000;
                              border: 1px solid #000000; }
h2.log-hdr                  { background: #31ff79; color: #000000;
                              margin: 0; padding: 0em 0.5em 0em 0.5em;
                              border-bottom: 1px solid #000000; font-size: 110%; }
p.log                       { font-weight: bold; margin: .5em 0 .5em 0; }
tr.opt-changed              { color: #000000; font-weight: bold; }
tr.opt-default              { color: #242424; }
pre.log                     { margin: 0; padding: 0; padding-left: 1em; }

