/*============================   slides.css  ===============================
 * Brigitte Bigi                                                           
 * Style to be used for SPPAS web site              
 * -------------------------------------------------------------------------
 * 
 * This style expect the following files to be available...
 *
 * Fonts:
 *  - etc/font/Jura-DemiBold.ttf
 *  - etc/font/MavenPro-Regular.ttf
 *  - etc/font/data-latin.ttf
 *
 * Images:
 *  - etc/img/background-motif.png
 *  - etc/img/background-motif.png
 *
 *==========================================================================*/


/* ===========================  DEFINITIONS  ===============================*/

@font-face {
    font-family: HeaderFont;
    src: url(../../etc/font/Jura-DemiBold.ttf);
    }

@font-face {
    font-family: NormalFont;
    src: url(../../etc/font/MavenPro-Regular.ttf);
    }

@font-face {
    font-family: FooterFont;
    src: url(../../etc/font/data-latin.ttf);
    }


/*===========================  MAIN PAGE  =================================*/

html {
    background:       url('../../etc/img/backbackground-motif.png') repeat 0 0;
    background-color: rgb(25,28,37);
}


body {
    background:      url('../../etc/img/background-lightmotif.png') repeat 0 0;
    max-width:       80%;

    border-left:     1px solid rgba(216,129,69,0.7); 
    border-right:    1px solid rgba(216,129,69,0.7); 

    margin:          auto; /* used to center the body in the html page */
    padding-top:     7px;
    padding-bottom:  7px;
    padding-right:   2px;
    padding-left:    2px;

    font-family:     NormalFont, "Maven Pro", serif;
    font-size:       100%;
    line-height:     110%;

    color:           rgba(200,200,200,0.8);

    /* Effects: */
    background-clip: content-box;
    transition:      border-color 0.3s;
    box-shadow:      0 0 10px 0px rgba(216,129,69,0.7), inset 0 0 10px 0px rgba(216,129,69,0.7);
}


/*================================  HEADER  ===============================*/

.header{
    background:        url('../../etc/img/header.png') no-repeat center;
    background-color:  rgba(100,100,100, 0.1);
    
    border-top:        1px solid rgba(216,129,69,0.7); 
    border-bottom:     1px solid rgba(216,129,69,0.7); 
    margin-top:        auto;
    margin-bottom:     auto;
    padding-top:       10px;
    padding-bottom:    10px;
    
    font-family:       Jura, serif;
    font-weight:       bold;
    text-align:        center;
}

/*==========  TITLE  ==========*/

.title {
    color: rgba(216,129,69,0.7);
}

.h1title {
    margin-top:     30px;
    margin-bottom:  20px;
    padding-top:    10px;
    padding-bottom: 10px;
    font-size:      500%;
}

.h2title {
    margin-top:     20px;
    margin-bottom:  10px;
    padding-top:    10px;
    padding-bottom: 10px;
    font-size:      200%;
}

.h3title {
    margin-top:     10px;
    margin-bottom:  10px;
    padding-top:    10px;
    padding-bottom: 80px;
    font-size:      100%;
}

/*==========  MENU  ==========*/

.menu {
    text-align:      center;
    min-height:      80px;
    margin-top:      40px;
    font-size:       100%;
}

.menu a {
    background-color:  rgba(100,100,100, 0.4);
    margin-top:      10px;
    margin-bottom:   10px;
    margin-right:    20px;
    margin-left:     20px;
    
    padding-top:     20px;
    padding-right:   15px;
    padding-bottom:  20px;
    padding-left:    15px;
}

/* 7 possible colors for the buttons of a menu */

a.neonViolet  {
    box-shadow:     0 0 10px rgba(150,56,185,0.7), inset 0 0 10px rgba(150,56,185,0.7); 
}

a.neonViolet:hover {
    box-shadow:     0 0 10px rgba(150,56,185,1), inset 0 0 10px rgba(150,56,185,1); 
}

a.neonBlue {
    box-shadow:     0 0 10px rgba(38,38,205,0.7), inset 0 0 10px rgba(38,38,205,0.7); 
}

a.neonBlue:hover {
    box-shadow:     0 0 10px rgba(38,38,205,1), inset 0 0 10px rgba(38,38,205,1); 
}

a.neonCyan  {
    box-shadow:     0 0 10px rgba(70,165,230,0.7), inset 0 0 10px rgba(70,165,230,0.7);
}

a.neonCyan:hover {
    box-shadow:     0 0 10px rgba(70,165,230,1), inset 0 0 10px rgba(70,165,230,1);
}

a.neonGreen  {
    box-shadow:     0 0 10px rgba(50,196,69,0.5), inset 0 0 10px rgba(50,196,69,0.5); 
}

a.neonGreen:hover {
    box-shadow:     0 0 10px rgba(50,196,69,0.8), inset 0 0 10px rgba(50,196,69,0.8); 
}

a.neonYellow  {
    box-shadow:     0 0 10px rgba(240,240,69,0.7), inset 0 0 10px rgba(240,240,69,0.7);
}

a.neonYellow:hover{
    box-shadow:     0 0 10px rgba(240,240,69,1), inset 0 0 10px rgba(240,240,69,1);
}

a.neonOrange  {
    box-shadow:     0 0 10px rgba(216,129,69,0.7), inset 0 0 10px rgba(216,129,69,0.7);
}

a.neonOrange:hover{
    box-shadow:     0 0 10px rgba(216,129,69,1), inset 0 0 10px rgba(216,129,69,1);
}

a.neonRed  {
    box-shadow:     0 0 10px rgba(205,38,38,0.7), inset 0 0 10px rgba(205,38,38,0.7);
}

a.neonRed:hover {
    box-shadow:     0 0 10px rgba(205,38,38,1), inset 0 0 10px rgba(205,38,38,1);
}

/*=============================  END HEADER  ===============================*/


/*===========================  HTML ELEMENTS  ==============================*/

h1 a, h2 a, h3 a, h4 a, h5 a { 
    text-decoration: none;
}

h1, h2, h3, h4, h5 { 
    font-family:    HeaderFont, Jura, serif; 
    font-weight:    bold;
    margin-left:    10px;
    margin-right:   10px;
    padding:        7px;
    background-clip:content-box;
    transition:     border-color 0.3s;
}

h1 {
    font-size:      140%;
    text-align:     center;
    margin-top:     40px;
    margin-bottom:  35px;
    padding-top:    20px;
    padding-right:  15px;
    padding-bottom: 20px;
    padding-left:   15px;
    border:         1px solid rgba(205,38,38,0.8);
    box-shadow:     0 0 12px rgba(205,38,38,0.8), inset 0 0 12px rgba(205,38,38,0.8); /* red */
    }

h2 {
    font-size:      120%;
    text-align:     left;
    margin-top:     30px;
    margin-bottom:  25px;
    padding-top:    15px;
    padding-right:  15px;
    padding-bottom: 15px;
    padding-left:   15px;
    border:         1px solid rgba(60,60,190,0.8);
    box-shadow:     0 0 12px rgba(60,60,190,0.8), inset 0 0 12px rgba(60,60,190,0.8); /* blue */
    }

h3 {
    font-size:      100%;
    margin-top:     20px;
    margin-bottom:  15px;
    padding-top:    5px;
    padding-right:  15px;
    padding-bottom: 5px;
    padding-left:   15px;
    text-align:     left;
    border:         1px solid rgba(60,160,60,0.8);
    box-shadow:     0 0 12px rgba(60,160,60,0.8), inset 0 0 12px rgba(60,160,60,0.8); /* green */
    }

h4 {
    margin-top:     20px;
    margin-bottom:  15px;
    font-size:      90%;
    border:         1px solid rgb(120,120,120);
}

h5 {
    margin-top:     20px;
    margin-bottom:  15px;
    font-size:      90%;
    font-style:     italic;
}

h1.title {
    font-size:      200%;
    font-weight:    bold;
    text-align:     center;
    margin-top:     1em;
    margin-bottom:  1em;
    margin-right:   auto;
    padding-top:    20px;
    padding-right:  15px;
    padding-bottom: 20px;
    padding-left:   15px;
    border-bottom:  2px solid;
    border-left:    2px solid;
    border-right:   2px solid;
    border-top:     2px solid;
    border-color:   #b31414;
}

h2.author, h3.date {
    border:none;
    text-align: center;
    border: 0px;
    }
   
p {
    margin-left:    20px;
    margin-right:   20px;
    text-align:  justify;
    text-justify:inter-word;
}

dt code {
        font-weight: bold;
}
dd p {
        margin-top: 0;
}

a{
    color: rgb(102,125,149);
    text-decoration:none;
    -webkit-transition-property:color;
    -moz-transition-property:color;
    -ms-transition-property:color;
    -o-transition-property:color;
    transition-property:color;
    -webkit-transition-duration:0.3s;
    -moz-transition-duration:0.3s;
    -ms-transition-duration:0.3s;
    -o-transition-duration:0.3s;
    transition-duration:0.3s
}

a:hover{
    color: rgb(40,95,149);
}

ul, ol{
    margin-left:    40px;
    margin-right:   20px;
    margin-top:     12px;
    margin-bottom:  12px;
    padding:        0;
}

ul ul,ul ol,ol ol,ol ul{
margin-bottom:5px;
}

li{
    margin-left:    20px;
    margin-right:   20px;
    line-height:    20px
}

ul a {
font-weight:bold
}

ul ul a {
font-weight:normal;
}


pre {
    border: 1px dotted gray;
    background-color: #ececec;
    color: #1111111;
    padding: 0.5em;
}

code {
    font-family: monospace;
}

blockquote {
    margin-left:   40px;
    margin-right:  40px;
    margin-top:    1em;
    margin-bottom: 1em;

    min-height: 24px;

    clear:      none;
    text-align: justify;
    vertical-align: middle;

    padding-top:    10px;
    padding-right:  15px;
    padding-bottom: 10px;
    padding-left:   15px;

    -moz-border-radius:10px; /* Firefox */
    border-radius:10px;
    border-collapse: collapse;
    border: 1px solid #C8C9B9;
}

hr{
    margin-left:   20px;
    margin-right:  20px;
    margin-bottom: 40px;
    border:0;
    border-top:1px solid #d8d7cf
}

strong{
    font-weight:bold
}

em{
    font-style:italic
}

figure {
    display:      block;
    margin-left:  auto;
    margin-right: auto;
    text-align:   center;
    font-size:    80%;
    text-align:   center;
    color:        rgb(120,120,120); 
    }


/*==============================  BUTTONS  =================================*/

.button {
    padding-left:   40px;
    padding-right:  40px;
    padding-top:    15px;
    padding-bottom: 15px;

    margin-right:   5px;
    margin-left:    5px;
    margin-top:    10px;
    margin-bottom: 20px;
    
    display:       inline-block;
    white-space:    nowrap;
    line-height:    1em;
    position:       relative;
    outline:        none;
    overflow:       visible;
    cursor:         pointer;
    border-radius:        6px;
    -moz-border-radius:   6px;
    -webkit-border-radius:6px;
    
    box-shadow:         1px 1px 2px 0 #CCCCCC;
    -moz-box-shadow:    1px 1px 2px 0 #CCCCCC;
    -webkit-box-shadow: 1px 1px 2px 0 #CCCCCC;

    font-size:   110%;
    font-weight: bold;
    text-align: center;
    background: url('http://www.lpl-aix.fr/~bigi/sppas/etc/icons/download.png') 3px 5px no-repeat;
    background-size: auto 60%; /* Width: auto is to keep aspect ratio */
}

.button_red {
    border:           1px solid rgba(200,200,200,0.8);
    color:            rgba(200,200,200,0.8);
    background-color: rgba(205,38,38,0.7);
}

.button_red:hover {
    color:  rgba(200,200,200,0.8);
    opacity:0.9;
    filter:alpha(opacity=90);
}

.button_blue {
    border: 1px solid #305875;
    color: rgba(200,200,200,0.8);
    background-color: #3D6E97;
}

.button_blue:hover {
    color: rgba(200,200,200,0.8);
    opacity:0.9;
    filter:alpha(opacity=80);
}


/*==============================  FOOTER  ==================================*/

#footer {
    display:     block;
    background-color: rgba(100,100,100, 0.1); 
    width:       auto;
    min-height:  100px;
    padding-top: 15px;
    border-top:        1px solid  #757575;  /* bordure, verticale, a gauche */
}

#footer img {
    display:    block;
    margin:     0 auto;
    padding:    15px;
    height:     64px;
    width:      auto;
}

.copyright {
    color: #f8f8f8;
    display:    block;
    margin:     0 auto;
    text-align:  center;
    padding-bottom: 15px;
}


.scrollT{
    display: block;
    width: 50px;
    height: 50px;
    position: fixed;
    bottom: 0px;
    right: 5px;
    background: url('../../etc/img/up.png') no-repeat 50% 50% #f8f8f8;
    -webkit-background-size: 100% 100%;
            background-size: 100%;
    opacity: 0.8; -webkit-transition-duration: 0.4s; transition-duration: 0.4s;
}

.scrollT:hover {
    cursor: pointer;
}

