/*============================   sppas.css  ===============================
 * Brigitte Bigi
 * Style to be used for SPPAS web site
 * (C) Copyright 2011-2018 Brigitte Bigi
 *==========================================================================*/


/* ===========================  DEFINITIONS  ===============================*/

@font-face {
    font-family: NormalFont;
    src: url(../../etc/font/MavenPro.ttf);
}

@font-face {
    font-family: NormalFontBold;
    src: url(../../etc/font/MavenProBold.ttf);
}

@font-face {
    font-family: ComputerFont;
    src: url(../../etc/font/DataLatin.ttf);
}

@font-face {
    font-family: HandFont;
    src: url(../../etc/font/NellaSue.ttf);
}

@font-face {
    font-family: TitleFont;
    src: url(../../etc/font/cmunbsr.ttf);
}

@font-face {
    font-family: HighlightFont;
    src: url(../../etc/font/cmunbsr.ttf);
}

@font-face {
    font-family: MonoFont;
    src: url(../../etc/font/FreeMono.ttf);
}


/*===========================  MAIN PAGE  =================================*/

* {
	outline: none;
	margin:  0;
	padding: 0;
    -webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}

html {
    background-color: rgb(255,255,255);
	width:   100%;
	height:  100%;
}

body {
    background-color: rgb(255,255,255);

    max-width:       98%;
    position:        relative;
    margin:          auto; /* used to center the body in the html page */

    font-family:     NormalFont, "Maven Pro", sans-serif;
    font-size:       100%;
    font-weight:     normal;
    font-style:      normal;
    font-variant:    normal;
    line-height:     120%;
    color:           rgb(38,32,32);

    /* Effects */
    background-clip: content-box;
    transition:      border-color 0.3s;
    transition-duration: 1.8s;
}


/*================================  HEADER  ===============================*/

.header {
    background:     url('../../etc/images/background-header.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center top;
    background-size: 100% 240px;
    height: 240px;
}


/*================================  TITLE  ================================*/

.title {
    padding-top:    210px;
    padding-bottom: 10px;
    font-size:      160%;
    font-family:    HighlightFont;
    text-align:     center;
    color:          rgb(120,20,20);
}

.fct {
    text-align:     center;
}

.fcttitle {
    font-family:    HighlightFont;
    padding-top:    20px;
    padding-bottom: 20px;
    font-size:      220%;
    color:          rgb(120,20,20);
    font-variant:   small-caps;
}

.ptitle {
    font-family:    NormalFont, "Maven Pro", sans-serif;
    font-size:      100%;
    padding-top:    5px;
    color:          rgb(80,80,100);
    height:         96px;
}

/*==================================  MENU  ===============================*/

nav {
    font-family: 'Century Gothic', 'Source code pro', Verdana, serif;
    font-size:      120%;
    width:          100%;
    background-color: #424558;
    display: block;
    text-align:center;
    margin-bottom: 10px;
}

nav > ul {
    margin:  0px;
    padding: 0px;
    display: inline-block;
    text-align:left;
}

nav > ul::after {
    content: "";
    display: block;
    clear:   both;
}

nav li.nav {
    list-style-type: none;
}

nav > ul > li.nav {
    float: left;
    position: relative;
}

nav a.nav {
    display:         inline-block;
    text-decoration: none;
}

nav > ul > li.nav > a.nav {
    padding: 20px 20px;
    color: #FFF;
}

.submenu {
    display: none;
}

nav li.nav:hover .submenu{
    display: inline-block;
    position: absolute;
    top: 100%;
    left: 0px;
    padding: 0px;
    z-index: 100000;
}
.submenu li.nav {
    border-bottom : 1px solid #CCC;
}
.submenu li.nav a.nav {
    padding: 15px 30px;
    font-size: 13px;
    color:#222538;
    width: 270px;
}
nav > ul > li.nav:hover a.nav {
    padding: 15px 20px 20px 20px;
}

.menu-doc:hover{
    border-top: 5px solid #f1dc4f;
    background-color: RGBa(241, 211, 79, 0.15);
}
.menu-home:hover{
    border-top: 5px solid #576C9E;
    background-color: RGBa(87, 109, 159, 0.15);
}
.menu-features:hover{
    border-top: 5px solid #df0067;
    background-color: RGBa(226, 0, 97, 0.15);
}
.menu-get:hover{
    border-top: 5px solid #BBB;
    background-color: RGBa(200, 200, 200, 0.15);
}
.menu-tuto:hover{
    border-top: 5px solid #0B3;
    background-color: RGBa(0, 160, 40, 0.15);
}
.menu-faq:hover{
    border-top: 5px solid #aa131b;
    background-color: RGBa(220, 120, 40, 0.15);
}

.submenu li.nav:hover a.nav {
    color:#EEE;
    font-weight: bold;
}

.menu-doc .submenu{
    background-color: RGBa(251, 216, 99, 0.92);
}
.menu-doc .submenu li:hover{
    background-color: RGB(200, 165, 75);
}
.menu-home .submenu{
    background-color: RGBa(95, 120, 170, 0.92);
}
.menu-home .submenu li:hover{
    background-color: RGB(80, 100, 145);
}
.menu-features .submenu{
    background-color: RGBa(240, 15, 105, 0.92);
}
.menu-features .submenu li:hover{
    background-color: RGB(180, 10, 80);
}
.menu-get .submenu{
    background-color: RGBa(180, 180, 180, 0.92);
}
.menu-get .submenu li:hover{
    background-color: RGB(150, 150, 150);
}
.menu-tuto .submenu{
    background-color: RGBa(0, 170, 50, 0.92);
}
.menu-tuto .submenu li:hover{
    background-color: RGB(0, 140, 35);
}
.menu-faq .submenu{
    background-color: RGBa(220, 30, 45, 0.92);
}
.menu-faq .submenu li:hover{
    background-color: RGB(180, 25, 40);
}
.menu-mobile {
	color: #fff;
    background-color: rgba(29, 197, 151, 0.97);
	text-align: center;
	padding: 12px 0;
	display: none;
}
nav input[type=checkbox]{
    display: none;
}
nav input[type=checkbox]:checked ~ ul{
    display: block;
}
@media screen and (max-width : 970px){
    .menu-mobile {
	display:block;
    }
    nav ul{
	display: none;
    }
    nav ul li, nav ul li a {
	width: 100%;
        text-align: center;
    }
    nav ul li a, nav ul li:hover a{
        padding: 10px 0px 10px 0px;
    }
    nav li:hover .submenu{
        display: block;
        position: static;
    }
}

/*===========================  HTML ELEMENTS  ==============================*/

p.game {
    font-family:    ComputerFont;
    line-height:    120%;
    text-align:     center;
    font-size:      120%;
    font-weight:    800;
    text-align: center;
    color: rgb(125,125,125);
}


/*===========================  HTML ELEMENTS  ==============================*/

/* ------ H titles ------- */

h1, h2, h3, h4, h5 {
    font-family:    TitleFont, sans-serif;
    font-weight:    normal;
    font-style:     normal;
    font-variant:   normal;
    padding-left:   2px;
	padding-right:  10px;
}

h1 {
    letter-spacing: 2px;
    font-size:      140%;
    text-align:     left;
    padding-top:    40px;
	padding-bottom: 10px;
    border-bottom:  1px solid rgb(120,20,20);
    margin-bottom:  30px;
    color:          rgb(120,20,20);
    display:        block;
}

h2 {
    font-size:      120%;
    text-align:     left;
    padding-top:    20px;
	padding-bottom: 10px;
    border-bottom:  1px dashed rgb(60,60,120);
    margin-bottom:  10px;
    margin-top:     10px;
    color:          rgb(60,60,120);
    display:        block;
}

h3 {
    font-size:      100%;
    padding-top:    10px;
	padding-bottom: 10px;
    border-bottom:  1px dashed rgb(60,160,60);
    margin-bottom:  10px;
    color:          rgb(60,160,60);
    display:        inline-block;
}

h4 {
    margin-top:     10px;
    margin-bottom:  10px;
    font-size:      100%;
    padding-top:    10px;
    padding-bottom: 10px;
}

h5 {
    margin-top:     10px;
    margin-bottom:  10px;
    font-size:      100%;
    font-style:     italic;
    padding-top:    10px;
    padding-bottom: 10px;
}

h1.title {
    font-size:      200%;
    font-weight:    bold;
    text-align:     center;
    margin-top:     20px;
    margin-bottom:  20px;
    margin-right:   auto;
    padding-bottom: 20px;
    border-bottom:  2px solid;
    border-left:    none;
    border-right:   none;
    border-top:     none;
}

h2.author {
    border:     none;
    text-align: center;
}

h3.date {
    border:     none;
    text-align: center;
    display: block;
}


h1 a {
    color:          rgb(120,20,20);
}
h2 a {
    color:          rgb(60,60,190);
}
h3 a {
    color:          rgb(60,160,60);
}
h4 a {
    color: rgb(30,30,30);
}
h5 a {
    color: rgb(30,30,30);
}

/* ------ A links ------- */

a {
    color: rgb(28,28,208);
    text-decoration:none;
    -webkit-transition-property:color;
    -moz-transition-property:color;
    -ms-transition-property:color;
    -o-transition-property:color;
    transition-property:color;
    -webkit-transition-duration:0.2s;
    -moz-transition-duration:0.2s;
    -ms-transition-duration:0.2s;
    -o-transition-duration:0.2s;
    transition-duration:0.2s
}

a:hover{
    color: rgb(208,28,28);
}

/* ------ Text -------- */

p {
    font-weight:   normal;
    font-style:    normal;
    font-variant:  normal;
    margin-left:    20px;
    margin-right:   20px;
    margin-bottom:   5px;
    margin-top:      5px;
    text-align:     justify;
    text-justify:   inter-word;
}

p.hand {
    font-family:    HandFont;
    font-size:      150%;
    line-height:    120%;
    color:          rgb(35,35,205);
    margin-bottom:  10px;
    margin-top:     20px;
    margin-left:  20%;
    margin-right: 50px;
    text-align:     center;
    width: 60%;
}

a.signature {
    color:       rgb(35,35,205);
    text-decoration: underline;
}

blockquote {
    background-color:  rgb(200,200,200);
    color:             rgb(30,30,120);

    margin-left:   40px;
    margin-right:  40px;
    margin-top:    10px;
    margin-bottom: 15px;

    min-height:    24px;
    padding-top:    5px;
    padding-right:  0px;
    padding-bottom: 5px;
    padding-left:   0px;

    clear:          none;
    text-align:     justify;
    vertical-align: middle;
    font-family:    NormalFont;
    font-size:      100%;
    line-height:    180%;

    -moz-border-radius: 10px; /* Firefox */
    border-radius:      10px;
    border-collapse:    collapse;
    border:             1px solid rgb(100,100,100);
}

strong{
    font-weight: bold;
}

em{
    font-style: italic;
}


/* ------ Media ------- */

img {
	/* Make sure images are scaled correctly. */
	max-width: 95%;
	/* Adhere to container width. */
	vertical-align: middle;
}

figure {
    display:      block;
    margin-left:  auto;
    margin-right: auto;
    margin-top:   15px;
    text-align:   center;
    font-size:    80%;
    text-align:   center;
    color:        rgb(120,120,120);
}


/* ------ Tables, lists, etc ------ */

table {
    max-width:      80%;
    display:        block;
    margin-right:   20px;
    border:         1px;
}

th {
    font-weight: bold;
    background:  transparent;
}


div > ul,
div > ol {
    margin-left:    40px;
    margin-right:   20px;
    margin-top:     12px;
    margin-bottom:  12px;
    padding:        0;
}


div > ul ul,
ul ol,
ol ol,
ol ul{
margin-bottom:5px;
}

li{
    margin-left:    20px;
    margin-right:   20px;
    line-height:    20px
}


/* ------- Computers -------- */

pre {
    background-color: rgb(200,200,200);
    margin-left:   40px;
    margin-right:  40px;
    margin-top:    10px;
    margin-bottom: 15px;
    padding-top:    5px;
    padding-right:  5px;
    padding-bottom: 5px;
    padding-left:   5px;

    min-height:    24px;
    max-width: 95%;

    border: 1px dotted gray;
}

dt code {
        font-weight: bold;
}
dd p {
        margin-top: 0;
}

code {
    font-family: MonoFont, monospace;
}

hr{
    margin-left:   20px;
    margin-right:  20px;
    margin-bottom: 40px;
    border:         0;
    border-top:1px  solid rgb(100,100,100);
}

/*==============================  BUTTONS  =================================*/

.button {
    padding-left:   40px;
    padding-right:  40px;
    padding-top:    15px;
    padding-bottom: 15px;

    margin-right:   5px;
    margin-left:    5px;
    margin-top:    10px;
    margin-bottom: 20px;

    display:       inline-block;
    white-space:    nowrap;
    line-height:    1em;
    position:       relative;
    outline:        none;
    overflow:       visible;
    cursor:         pointer;
    border-radius:        6px;
    -moz-border-radius:   6px;
    -webkit-border-radius:6px;

    box-shadow:         1px 1px 2px 0 #CCCCCC;
    -moz-box-shadow:    1px 1px 2px 0 #CCCCCC;
    -webkit-box-shadow: 1px 1px 2px 0 #CCCCCC;

    font-size:   110%;
    font-weight: bold;
    text-align: center;
    /*background: url('http://www.lpl-aix.fr/~bigi/sppas/etc/icons/download.png') 3px 5px no-repeat;*/
    background-size: auto 60%; /* Width: auto is to keep aspect ratio */
}

.button_red {
    border:           2px solid rgb(128,122,122);
    color:            rgb(240,230,235);
    background-color: rgb(225,100,100);
}

.button_red:hover {
    opacity:0.80;
    color:  rgb(252,252,250);
}

.button_blue {
    border: 1px solid #305875;
    color: rgb(200,200,200);
    background-color: #3D6E97;
}

.button_blue:hover {
    opacity:0.8;
    color:  rgb(252,252,250);
}


/*==============================  FOOTER  ==================================*/

.footer {
    /*background-color: rgb(80,80,100);*/
    width:          100%;
    margin-top:     2px;
    border-top:     1px solid rgb(30,30,30);
    border-bottom:  1px solid rgb(30,30,30);
    text-align:     center;
    font-size:      12px;
    padding-top:     5px;
    padding-bottom: 5px;
    margin-bottom: 5px;
}

.footer img {
    display:    block;
    margin:     0 auto;
    height:     64px;
    width:      auto;
    padding-bottom: 5px;
}

.copyright {
    display:    block;
    margin:     0 auto;
    text-align:  center;
}

/*==============================  Scoll Auto  ==============================*/

.scrollT{
    display:  block;
    width:    50px;
    height:   50px;
    position: fixed;
    bottom:   0px;
    right:    5px;
    margin-bottom: 5px;
    background: url('../../etc/images/up.png') no-repeat 50% 50%;
    -webkit-background-size: 100% 100%;
            background-size: 100%;
    opacity: 0.8; -webkit-transition-duration: 0.4s; transition-duration: 0.4s;
}

.scrollT:hover {
    cursor: pointer;
}

/* =============================  COLUMNS  ================================ */

.cols1, .cols2, .cols3, .cols4, .cols5, .cols6, .cols7, .cols8, .cols9, .cols10, .cols11, .cols12, .cols112 {
	display: inline-block !important;
	float: none;
	vertical-align: top;
}

.cols1 { width:  100%; padding-bottom: 20pt;}
.cols2 { width:  92%; }
.cols3 { width:  83.3%; }
.cols4 { width:  75.0%; }
.cols5 { width:  66.6%; }
.cols6 { width:  58.3%; }
.cols7 { width:  50.0%; }
.cols8 { width:  41.6%; }
.cols9 { width:  33.3%; }
.cols10{ width:  25.0%; }
.cols11{ width:  12.5%; }
.cols112{ width:  8%; }
.cols12{ width:   4%; }

/* ============================  OTHERS  ================================== */

.mySlides {
   max-height: 200px;
   max-width:  90%;
}

.bg-white{ background-color: rgb(255,255,255); }
.bg-verylightgrey{ background-color: rgb(245,245,245);}
.bg-lightgrey{ background-color: rgb(225,225,225);}
.bg-grey{ background-color: rgb(215,215,215);}

.left { float: left; }
.right { float: right;}
.center { margin: 0 auto; }

.vt { vertical-align: top; }
.vm { vertical-align: middle; }
.vb { vertical-align: bottom; }

