/*============================   sppas.css  ===============================
 * Brigitte Bigi
 * Style to be used for SPPAS web site
 * -------------------------------------------------------------------------
 *
 * This style expect the following files to be available...
 *
 * Fonts:
 *  - etc/font/Jura-DemiBold.ttf
 *  - etc/font/MavenPro-Regular.ttf
 *  - etc/font/data-latin.ttf
 *  - etc/font/JenniferLynne.ttf
 *
 * Images:
 *  - etc/img/background-header.png
 *
 *==========================================================================*/


/* ===========================  DEFINITIONS  ===============================*/

@font-face {
    font-family: NormalFont;
    src: url(../../etc/font/MavenPro.ttf);
}

@font-face {
    font-family: NormalFontBold;
    src: url(../../etc/font/MavenProBold.ttf);
}

@font-face {
    font-family: ComputerFont;
    src: url(../../etc/font/DataLatin.ttf);
}

@font-face {
    font-family: HandFont;
    src: url(../../etc/font/JenniferLynne.ttf);
}

/*===========================  MAIN PAGE  =================================*/

* {
	outline: none;
	margin:  0;
	padding: 0;
}

html {
    background-color: rgb(245,245,245);
	width:   100%;
	height:  100%;
}

body {
    max-width:       88%;
    position:        relative;
    margin:          auto; /* used to center the body in the html page */

    font-family:     NormalFont, "Maven Pro", serif;
    font-size:       100%;
    font-weight:     normal;
    font-style:      normal;
    font-variant:    normal;
    line-height:     120%;
    color:           rgb(30,30,30);

    /* Effects */
    background-clip: content-box;
    transition:      border-color 0.3s;
}


/*================================  HEADER  ===============================*/

.header{
    background:     url('../../etc/img/background-header.png') repeat-x center;
    
    height:         200px; /* match with the image height */
    margin-top:     2px;
    border-top:     1px solid rgb(30,30,30);  
    border-bottom:  1px solid rgb(30,30,30); 

    font-family:    NormalFont, "Maven Pro", serif;
    font-weight:    bold;
    text-align:     center;
}


/*================================  TITLE  ================================*/

.title {
}

.h1title {
    padding-top:    30px;
    padding-bottom: 30px;
    font-size:      50px;
}

.h2title {
    padding-top:    20px;
    padding-bottom: 30px;
    font-size:      30px;
}

.h3title {
    padding-top:    5px;
    font-size:      15px;
    font-weight:    normal;
}

/*==================================  MENU  ===============================*/

.menu {
    width:            100%;
    margin:           0 auto;
    text-align:       center;
    font-size:        0;
    border-bottom:    1px solid rgb(30,30,30);
    margin-bottom: 20px;
}

.menu a {
    display:         inline-block;
    padding-top:     0px;
    padding-bottom:  0px;
    padding-left:    20px;
    padding-right:   20px;
    background:      rgb(242,200,200);
    border-left:     2px solid rgb(30,30,140);
    border-right:    2px solid rgb(30,30,140);

    color:          rgb(95,15,20);
    text-decoration:none;
    font-size:      14px;
    font-weight:    normal;
    line-height:    36px;
}

.menu a:hover, .menu a.current
{
    background:     rgb(240,240,60);
    color:          rgb(95,15,20);
}

/*===========================  HTML ELEMENTS  ==============================*/

h1, h2, h3, h4, h5 {
    font-family:    ComputerFont, serif;
    font-weight:    normal;
    font-style:     normal;
    font-variant:   normal;
    padding-left:   5px;
    padding-top:    10px;
    padding-bottom: 10px;
}

h1 {
    letter-spacing: 2px;
    font-size:      140%;
    text-align:     left;
    margin-top:     10px;
    margin-bottom:  10px;
    border-bottom:  2px solid rgb(120,20,20);
    color: rgb(120,20,20);
    }

h2 {
    font-size:      120%;
    text-align:     left;
    margin-top:     20px;
    margin-bottom:  20px;
    border-bottom:  1px solid rgb(60,60,190);
    color: rgb(60,60,190);
}

h3 {
    font-size:      100%;
    margin-top:     20px;
    margin-bottom:  15px;
    text-align:     left;
    border-bottom:  1px solid rgb(60,160,60);
    color: rgb(60,160,60);
    display: inline-block !important;
    }

h4 {
    margin-top:     20px;
    margin-bottom:  15px;
    font-size:      90%;
    border-bottom:  1px solid rgb(120,120,120);
    display:        inline-block !important;
}

h5 {
    margin-top:     20px;
    margin-bottom:  15px;
    font-size:      90%;
    font-style:     italic;
}

h1.title {
    font-size:      200%;
    font-weight:    bold;
    text-align:     center;
    margin-top:     1em;
    margin-bottom:  1em;
    margin-right:   auto;
    padding-top:    20px;
    padding-right:  15px;
    padding-bottom: 20px;
    padding-left:   15px;
    border-bottom:  2px solid;
    border-left:    2px solid;
    border-right:   2px solid;
    border-top:     2px solid;
    border-color:   #b31414;
}

h2.author, h3.date {
    border:none;
    text-align: center;
    border: 0px;
    }

img {
    max-width: 95%;
}

table {
    max-width:      80%;
    display:        block;
    margin-right:   20px;
    border:         1px;
}

th {
    font-weight: bold;
    background:  transparent;
}

p {
    margin-left:    20px;
    margin-right:   20px;
    margin-bottom:  5px;
    text-align:     justify;
    text-justify:   inter-word;
}

p.hand {
    font-family: HandFont;
    font-size:   180%;
    line-height: 120%;
    color:       rgb(50,50,120);
    margin-bottom:  15px;
}

a.signature {
    color:       rgb(50,50,120);
    text-decoration: underline;
}

dt code {
        font-weight: bold;
}
dd p {
        margin-top: 0;
}

a {
    color: rgb(75,65,205);
    text-decoration:none;
    -webkit-transition-property:color;
    -moz-transition-property:color;
    -ms-transition-property:color;
    -o-transition-property:color;
    transition-property:color;
    -webkit-transition-duration:0.3s;
    -moz-transition-duration:0.3s;
    -ms-transition-duration:0.3s;
    -o-transition-duration:0.3s;
    transition-duration:0.3s
}

a:hover{
    color: rgb(205,110,65);
}

ul, ol{
    margin-left:    40px;
    margin-right:   20px;
    margin-top:     12px;
    margin-bottom:  12px;
    padding:        0;
}

ul ul,ul ol,ol ol,ol ul{
margin-bottom:5px;
}

li{
    margin-left:    20px;
    margin-right:   20px;
    line-height:    20px
}

pre {
    border: 1px dotted gray;
    background-color: #ececec;
    color: #404040;
    margin-left:   10px;
    margin-right:  10px;
    margin-top:    20px;
    margin-bottom: 20px;
    padding-top:    5px;
    padding-right:  15px;
    padding-bottom: 5px;
    padding-left:   15px;
    max-width: 95%;
}

code {
    font-family: monospace;
}

blockquote {
    background-color:  rgba(100,100,100, 0.5);

    margin-left:   40px;
    margin-right:  40px;
    margin-top:    10px;
    margin-bottom: 15px;

    min-height: 24px;

    clear:      none;
    text-align: justify;
    vertical-align: middle;

    padding-top:    0px;
    padding-right:  0px;
    padding-bottom: 0x;
    padding-left:   0px;

    -moz-border-radius:10px; /* Firefox */
    border-radius:10px;
    border-collapse: collapse;
    border: 1px solid #C8C9B9;
}

hr{
    margin-left:   20px;
    margin-right:  20px;
    margin-bottom: 40px;
    border:0;
    border-top:1px solid #d8d7cf
}

strong{
    font-weight:bold
}

em{
    font-style:italic
}

figure {
    display:      block;
    margin-left:  auto;
    margin-right: auto;
    text-align:   center;
    font-size:    80%;
    text-align:   center;
    color:        rgb(120,120,120);
    }


/*==============================  BUTTONS  =================================*/

.button {
    padding-left:   40px;
    padding-right:  40px;
    padding-top:    15px;
    padding-bottom: 15px;

    margin-right:   5px;
    margin-left:    5px;
    margin-top:    10px;
    margin-bottom: 20px;

    display:       inline-block;
    white-space:    nowrap;
    line-height:    1em;
    position:       relative;
    outline:        none;
    overflow:       visible;
    cursor:         pointer;
    border-radius:        6px;
    -moz-border-radius:   6px;
    -webkit-border-radius:6px;

    box-shadow:         1px 1px 2px 0 #CCCCCC;
    -moz-box-shadow:    1px 1px 2px 0 #CCCCCC;
    -webkit-box-shadow: 1px 1px 2px 0 #CCCCCC;

    font-size:   110%;
    font-weight: bold;
    text-align: center;
    background: url('http://www.lpl-aix.fr/~bigi/sppas/etc/icons/download.png') 3px 5px no-repeat;
    background-size: auto 60%; /* Width: auto is to keep aspect ratio */
}

.button_red {
    border:           1px solid rgb(140,50,50);
    color:            rgb(200,200,200);
    background-color: rgb(205,38,38);
}

.button_red:hover {
    opacity:0.8;
    filter:alpha(opacity=80);
}

.button_blue {
    border: 1px solid #305875;
    color: rgb(200,200,200);
    background-color: #3D6E97;
}

.button_blue:hover {
    opacity:0.8;
    filter:alpha(opacity=80);
}


/*==============================  FOOTER  ==================================*/

.footer {
    background-color: rgb(185,185,230);
    width:          100%;
    margin-top:     2px;
    border-top:     1px solid rgb(30,30,30);  
    border-bottom:  1px solid rgb(30,30,30); 
    text-align:     center;
    font-size:      12px;
    padding-top:     5px;
    padding-bottom: 5px;
}

.footer img {
    display:    block;
    margin:     0 auto;
    height:     64px;
    width:      auto;
    padding-bottom: 5px;
}

.copyright {
    display:    block;
    margin:     0 auto;
    text-align:  center;
}

.scrollT{
    display:  block;
    width:    50px;
    height:   50px;
    position: fixed;
    bottom:   0px;
    right:    5px;
    background: url('../../etc/img/up.png') no-repeat 50% 50% #f8f8f8;
    -webkit-background-size: 100% 100%;
            background-size: 100%;
    opacity: 0.8; -webkit-transition-duration: 0.4s; transition-duration: 0.4s;
}

.scrollT:hover {
    cursor: pointer;
}

h1 a {
    color: rgb(30,30,30);
}
h2 a {
    color: rgb(30,30,30);
}
h3 a {
    color: rgb(30,30,30);
}
h4 a {
    color: rgb(30,30,30);
}
